{:deps {nrepl/bencode {:mvn/version "1.1.0"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        com.cognitect/transit-clj {:mvn/version "1.0.324"}}
 :aliases
 {:sci
  {:extra-deps
   {borkdude/sci {:git/url "https://github.com/borkdude/sci"
                  :sha "5aa9031eb3692a2207106076088fcab7347c2299"}}}
  :test
  {:extra-deps
   {cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner"]}
  :kaocha
  {:extra-deps
   {lambdaisland/kaocha {:mvn/version "1.0.632"}}
   :main-opts ["-m" "kaocha.runner"]}
  :test-pod
  {:extra-paths ["src" "test-pod"]
   :main-opts ["-m" "pod.test-pod"]}}}
